<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AXA Agent OPTOUT input</title>

    <form action="http://localhost:5000/submit" method="post">
      <div class="container">
        <lable><b>AgentNumber</b></lable>
        <input type="text" placeholder="Enter Agent Number" name="agntnum" required>

        <lable><b>Agent_firstName</b></lable>
        <input type="text" placeholder="Enter Agent first name" name="fname" required>

        <label><b>Agent_lastname</b></label>
        <input type="text" placeholder="Enter agent last name" name="lname" required>

        <input type="submit" name="axa" value="send">
      </div>

    </form>
  </head>
</html>
